<Project>
	<ItemGroup>
        <PluginFolder Include="C:\Steam\steamapps\Schedule I\BepInEx\plugins\RealRadio" />
		<!-- Add more if necessary -->
	</ItemGroup>

	<PropertyGroup>
		<ManagedFolder>C:\Steam\steamapps\Schedule I\Schedule I_Data\Managed</ManagedFolder>
	</PropertyGroup>
</Project>
